<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fra2mo" >
  <xacro:include filename="$(find rl_fra2mo_description)/urdf/fra2mo_base_macro.xacro"/>
  <xacro:include filename="$(find rl_fra2mo_description)/urdf/lidar_gazebo_macro.xacro"/> 
  <!-- <xacro:include filename="$(find rl_fra2mo_description)/urdf/d435_gazebo_macro.xacro" />  -->
  <xacro:include filename="$(find rl_fra2mo_description)/urdf/camera_gazebo_macro.xacro"/> 
  
  
  <xacro:property name="LIDAR" value="True"/>
  <!--<xacro:property name="DEPTH" value="True"/>-->
  <xacro:property name="CAMERA" value="True"/>

  <!-- Diff Drive Robot Base -->
  <xacro:fra2mo_base/>

  <!-- LIDAR Sensor--> 
  <xacro:if value="${LIDAR}">
    <xacro:lidar_gazebo_sensor parent="lidar_link"/>
  </xacro:if>

  <!-- CAMERA Sensor--> 
  <xacro:if value="${CAMERA}">
    <xacro:camera_gazebo_sensor parent="camera_link"/>
  </xacro:if>

  <!-- RGBD Sensor (D435 Camera) -->
  <!--
  <xacro:if value="${DEPTH}">
    <xacro:d435_gazebo_sensor parent="d435_link" />
  </xacro:if>
  -->

</robot>
